


<div class="alert alert-success">
    <h5> <strong><font color="green">your car added successfully ... </font></strong> <br /></h5>
</div>



<a href = "/Home/Index">Home </a> <br />
<a href="/BuyCar/BuyCarList">Cars List</a> <br />
<a href="/BuyCar/SellCar">Sell another car </a>
