<div class="alert alert-danger">
    <h1> <font color="red"> <strong> Error </strong> </font></h1>
    <h4> You did NOT add any car infortmation !!! </h4>

</div>

<hr />

<h2>    Please try again</h2>
<a href="/BuyCar/SellCar"> Sell car</a>

