
<div class="alert alert-success">
    <h5> <strong><font color="green">Successfully deleted .... </font></strong> <br /></h5>
</div>
<br />


<a href="/Home/Index">Home </a>
<br />
<a href="/BuyCar/BuyCarList">Cars list </a>



