@{
    Layout = "_Login";
}

<div class="account-pages my-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card mt-4">
                    <div class="card-header bg-img p-5 position-relative">
                        <div class="bg-overlay"></div>
                        <h4 class="text-white text-center mb-0">Set Your Own New Password</h4>
                    </div>
                    <div class="card-body p-4 mt-2">
                        <form action="/Login/UpdateNewPassword/" method="post" class="p-3">
                            @if (ViewBag.NewPasswordNotMatch != null)
                            {
                                <div class="alert alert-danger" role="alert">
                                    @ViewBag.NewPasswordNotMatch
                                </div>
                            }
                            <div class="form-group mb-3">
                                <strong>New Password <font color="red">*</font></strong><br>
                                <input class="form-control ShowPass" type="password" required="" placeholder="New Password" name="NewPassword" id="NewPassword">
                            </div>

                             <div class="form-group mb-3">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkbox-signin" onclick="ShowPassword()">
                                    <label class="custom-control-label" for="checkbox-signin">Show Password</label>
                                </div>
                            </div>


                            <div class="form-group mb-3">
                                <strong>Confirm New Password <font color="red">*</font></strong><br>
                                <input class="form-control" type="password" required="" placeholder="New Password" name="ConfirmNewPassword" id="ConfirmNewPassword">
                            </div>

                             <div class="form-group mb-3">
                               <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkbox-confirm" onclick="ShowPasswordConfirmation()">
                                    <label class="custom-control-label" for="checkbox-confirm">Show Password</label>
                                </div>
                            </div>

                            <div class="form-group text-center mt-5 mb-4">
                                <button class="btn btn-primary waves-effect width-md waves-light" type="submit"> Set New Password </button>
                            </div>

                        </form>

                    </div>
                    <!-- end card-body -->
                </div>
                <!-- end card -->
                <!-- end row -->

            </div>
            <!-- end col -->
        </div>
        <!-- end row -->

    </div>
</div>

