<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>BestPrice car Dealership</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Responsive bootstrap 4 admin template" name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/images/logo-sm.ico">

    <!-- Plugins css-->
    <link href="~/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />

    <!-- App css -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap-stylesheet" />
    <link href="~/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/app.min.css" rel="stylesheet" type="text/css" id="app-stylesheet" />

        <link href="~/css/site.css" rel="stylesheet" type="text/css" id="app-stylesheet" />


</head>

<body data-layout="horizontal">

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Navigation Bar-->
        <header id="topnav">
            <!-- Topbar Start -->
            <div class="navbar-custom">
                <div class="container-fluid">
                    <ul class="list-unstyled topnav-menu float-right mb-0">

                        <li class="dropdown notification-list">
                            <!-- Mobile menu toggle-->
                            <a class="navbar-toggle nav-link">
                                <div class="lines">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </a>
                            <!-- End mobile menu toggle-->
                        </li>

                        <li class="dropdown d-none d-lg-block">
                            <a class="nav-link dropdown-toggle mr-0 waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <img src="~/images/flags/us.jpg" alt="user-image" class="mr-2" height="12"> <span class="align-middle">English <i class="mdi mdi-chevron-down"></i> </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <img src="~/images/flags/germany.jpg" alt="user-image" class="mr-2" height="12"> <span class="align-middle">German</span>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <img src="~/images/flags/italy.jpg" alt="user-image" class="mr-2" height="12"> <span class="align-middle">Italian</span>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <img src="~/images/flags/spain.jpg" alt="user-image" class="mr-2" height="12"> <span class="align-middle">Spanish</span>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <img src="~/images/flags/russia.jpg" alt="user-image" class="mr-2" height="12"> <span class="align-middle">Russian</span>
                                </a>
                            </div>
                        </li>

                        <li class="dropdown notification-list d-none d-md-inline-block">
                            <a href="#" id="btn-fullscreen" class="nav-link waves-effect">
                                <i class="mdi mdi-crop-free noti-icon"></i>
                            </a>
                        </li>

                        <li class="dropdown notification-list">
                            <a class="nav-link dropdown-toggle  waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <i class="mdi mdi-bell noti-icon"></i>
                                <span class="badge badge-danger rounded-circle noti-icon-badge">5</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-lg">

                                <!-- item-->
                                <div class="dropdown-item noti-title">
                                    <h5 class="font-16 m-0">
                                        <span class="float-right">
                                            <a href="" class="text-dark">
                                                <small>Clear All</small>
                                            </a>
                                        </span>Notification
                                    </h5>
                                </div>

                                <div class="slimscroll noti-scroll">

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon">
                                            <i class="fa fa-user-plus text-info"></i>
                                        </div>
                                        <p class="notify-details">
                                            New user registered
                                            <small class="noti-time">You have 10 unread messages</small>
                                        </p>
                                    </a>

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon text-success">
                                            <i class="far fa-gem text-primary"></i>
                                        </div>
                                        <p class="notify-details">
                                            New settings
                                            <small class="noti-time">There are new settings available</small>
                                        </p>
                                    </a>

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon text-danger">
                                            <i class="far fa-bell text-danger"></i>
                                        </div>
                                        <p class="notify-details">
                                            Updates
                                            <small class="noti-time">There are 2 new updates available</small>
                                        </p>
                                    </a>
                                </div>

                                <!-- All-->
                                <a href="javascript:void(0);" class="dropdown-item text-center notify-item notify-all">
                                    See all notifications
                                </a>

                            </div>
                        </li>



                        <li class="dropdown notification-list">
                            <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <img src="~/images/users/avatar-10.jpg.png" alt="user-image" class="rounded-circle">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                <!-- item-->
                                <div class="dropdown-header noti-title">
                                    <h6 class="text-overflow m-0">Welcome !</h6>
                                </div>

                                <!-- item-->
                                <a href="/Login/CreateUpdateUser/" class="dropdown-item notify-item">
                                    <i class="mdi mdi-face-profile"></i>
                                    <span> Profile</span>
                                </a>

                               @* <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <i class="mdi mdi-settings"></i>
                                    <span>Settings</span>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <i class="mdi mdi-lock"></i>
                                    <span>Lock Screen</span>
                                </a>*@

                                <div class="dropdown-divider"></div>
                                <!-- item-->
                                <a href="#" class="dropdown-item notify-item" onclick="DeleteAccount()">
                                    <i class="mdi mdi-delete-alert"></i>
                                    <span>Delete Account</span>
                                </a>

                                <!-- item-->
                                <a href="/Login/LogoutAction/" class="dropdown-item notify-item">
                                    <i class="mdi mdi-power-settings"></i>
                                    <span>Logout</span>
                                </a>

                            </div>
                        </li>

                        @*<li class="dropdown notification-list">
                            <a href="javascript:void(0);" class="nav-link right-bar-toggle waves-effect waves-light">
                                <i class="mdi mdi-settings-outline noti-icon"></i>
                            </a>
                        </li>*@
                    </ul>

                    <!-- LOGO -->
                    <div class="logo-box">
                        @*<a href="index.html" class="logo text-center logo-dark">
                            <span class="logo-lg">
                                <img src="~/images/logo-dark.png" alt="" height="16">
                                <!-- <span class="logo-lg-text-dark">Moltran</span> -->
                            </span>
                            <span class="logo-sm">
                                <!-- <span class="logo-lg-text-dark">M</span> -->
                                <img src="~/images/logo-sm.png" alt="" height="25">
                            </span>
                        </a>*@

                        <a href="/Home/index/" class="logo text-center logo-light">
                            <span class="logo-lg">
                                <img src="~/images/logo-car.png" alt="" height="55"> 
                                <!-- <span class="logo-lg-text-dark">Moltran</span> -->
                            </span>
                            <span class="logo-sm">
                                <!-- <span class="logo-lg-text-dark">M</span> -->
                                <img src="~/images/logo-sm.png" alt="" height="25">
                            </span>
                        </a>
                    </div>
                    <!-- LOGO -->

                    <ul class="list-unstyled topnav-menu topnav-menu-left m-0">

                        <li class="d-none d-sm-block">
                            <form class="app-search">
                                <div class="app-search-box">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search...">
                                        <div class="input-group-append">
                                            <button class="btn" type="submit">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- end Topbar -->

            <div class="topbar-menu">
                <div class="container-fluid">
                    <div id="navigation">
                        <!-- Navigation Menu-->
                        <ul class="navigation-menu">

                            <li class="nav-item">
                                <a class="nav-link text-dark"  asp-area="" asp-controller="Home" asp-action="Index">
                                    <i class="mdi mdi-home"></i>Home
                                </a>
                            </li>

                            
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="BuyCar" asp-action="BuyCarList">
                                    <i class="mdi mdi-invert-colors"></i> Buy car
                                </a>
                            </li>

                            
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="BuyCar" asp-action="SearchCarOptions">
                                    <i class="mdi mdi-google-pages"></i>Search
                                </a>
                            </li>


                            
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="BuyCar" asp-action="SellCar">
                                    <i class="mdi mdi-atom-variant"></i>Sell your car
                                </a>
                            </li>
                        </ul>
                        <!-- End navigation menu -->

                        <div class="clearfix"></div>
                    </div>
                    <!-- end #navigation -->
                </div>
                <!-- end container -->
            </div>
            <!-- end navbar-custom -->
        </header>
        <!-- End Navigation Bar-->
        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">


                @RenderBody()
                <!-- end content -->
                <!-- Footer Start -->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                2023 Best Price copy rights; 
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- end Footer -->

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->

        </div>
        <!-- END wrapper -->
        <!-- Right Sidebar -->
@*        <div class="right-bar">
            <div class="rightbar-title">
                <a href="javascript:void(0);" class="right-bar-toggle float-right">
                    <i class="mdi mdi-close"></i>
                </a>
                <h4 class="font-17 m-0 text-white">Theme Customizer</h4>
            </div>
            <div class="slimscroll-menu">

                <div class="p-4">
                    <div class="alert alert-warning" role="alert">
                        <strong>Customize </strong> the overall color scheme, layout, etc.
                    </div>
                    <div class="mb-2">
                        <img src="~/images/layouts/light.png" class="img-fluid img-thumbnail" alt="">
                    </div>
                    <div class="custom-control custom-switch mb-3">
                        <input type="checkbox" class="custom-control-input theme-choice" id="light-mode-switch" checked />
                        <label class="custom-control-label" for="light-mode-switch">Light Mode</label>
                    </div>

                    <div class="mb-2">
                        <img src="~/images/layouts/dark.png" class="img-fluid img-thumbnail" alt="">
                    </div>
                    <div class="custom-control custom-switch mb-3">
                        <input type="checkbox" class="custom-control-input theme-choice" id="dark-mode-switch" data-bsStyle="~/css/bootstrap-dark.min.css"
                               data-appStyle="~/css/app-dark.min.css" />
                        <label class="custom-control-label" for="dark-mode-switch">Dark Mode</label>
                    </div>

                    <div class="mb-2">
                        <img src="~/images/layouts/rtl.png" class="img-fluid img-thumbnail" alt="">
                    </div>
                    <div class="custom-control custom-switch mb-5">
                        <input type="checkbox" class="custom-control-input theme-choice" id="rtl-mode-switch" data-appStyle="~/css/app-rtl.min.css" />
                        <label class="custom-control-label" for="rtl-mode-switch">RTL Mode</label>
                    </div>

                    <a href="https://bit.ly/2QMLoUn" class="btn btn-danger btn-block mt-3" target="_blank"><i class="mdi mdi-download mr-1"></i> Download Now</a>
                </div>
            </div> <!-- end slimscroll-menu-->
        </div>
*@        <!-- /Right-bar -->
        <!-- Right bar overlay-->
        <div class="rightbar-overlay"></div>

        <a href="javascript:void(0);" class="right-bar-toggle demos-show-btn">
            <i class="mdi mdi-settings-outline mdi-spin"></i> &nbsp;Choose Demos
        </a>

        <!-- Vendor js -->
        <script src="~/js/vendor.min.js"></script>

        <script src="~/libs/moment/moment.min.js"></script>
        <script src="~/libs/jquery-scrollto/jquery.scrollTo.min.js"></script>
        <script src="~/libs/sweetalert2/sweetalert2.min.js"></script>

        <!-- Chat app -->
        <script src="~/js/pages/jquery.chat.js"></script>

        <!-- Todo app -->
        <script src="~/js/pages/jquery.todo.js"></script>

        <!-- flot chart -->
        <script src="~/libs/flot-charts/jquery.flot.js"></script>
        <script src="~/libs/flot-charts/jquery.flot.time.js"></script>
        <script src="~/libs/flot-charts/jquery.flot.tooltip.min.js"></script>
        <script src="~/libs/flot-charts/jquery.flot.resize.js"></script>
        <script src="~/libs/flot-charts/jquery.flot.pie.js"></script>
        <script src="~/libs/flot-charts/jquery.flot.selection.js"></script>
        <script src="~/libs/flot-charts/jquery.flot.stack.js"></script>
        <script src="~/libs/flot-charts/jquery.flot.crosshair.js"></script>

        <!-- Dashboard init JS -->
        <script src="~/js/pages/dashboard.init.js"></script>

        <!-- App js -->
        <script src="~/js/app.min.js"></script>

        <!-- My added functions js -->
        <script src="~/js/Mine.js"></script>

</body>

</html>