<!-- Start Content-->
<div class="container-fluid">

   
    <div class="text-center background">
        <h1 class="display-4">Welcome To <br /><br /> <strong> BEST PRICE AUTO TRADE</strong></h1>
        <br />
        <a href="/BuyCar/BuyCarList" class="display-6">Start shopping</a> <br /> <br />

        <video width="450" height="300" controls="controls">
            <source src="~/uploadedimage/untitled.mp4" type="video/mp4" />
            Your browser does not support the video tag.
        </video>
     </div>


</div>
<!-- end container-fluid -->